@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.get_started {
  letter-spacing: 1px;
}

.get_started .welcome_steps {
  display: grid;
  gap: 40px;
  box-shadow: 0 4px 18px 0px rgba(255, 255, 255, 0.5);
}

.get_started .welcome_steps a {
  width: fit-content;
  margin-left: auto;
}

.get_started .step_odd {
  grid-template-columns: 500px 1fr;
  margin-bottom: 70px;
}

.get_started .step_even {
  grid-template-columns: 1fr 500px;
  margin-bottom: 70px;
}

.get_started h3 strong {
  font-weight: 700;
  color: #146ef5;
}

.get_started img {
  margin: auto 0;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.get_started .get_started_featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 80px;
}

.get_started .link-title {
  width: fit-content;
}

.get_started .link_card_box {
  min-height: 185px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s;
  box-shadow: 0 4px 18px 0px rgba(255, 255, 255, 0.5);
}

.get_started .link_card_box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 18px 10px rgba(255, 255, 255, 0.5);
}

.get_started .more-coming-soon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 185px;
}

.get_started .samsung-bold {
  font-family: "Samsung Sharp Sans Bold"
}

.get_started .color-light-grey {
  color: #CCC;
}

@media screen and (max-width: 768px) {
  .get_started .get_started_featured {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
  }

  .get_started .step_odd {
    grid-template-columns: 1fr;
  }

  .get_started .step_even {
    grid-template-columns: 1fr;
  }
}