
.main-chat .chatbot {
    height: 75vh;
}
.main-chat .chatbot {
    max-width: 100%;
}
.main-chat {
    height: calc(100vh - 167px);
    padding: 20px 0px;
}

.message-list .timing {
    font-size: 13px;
    margin-right: 8px;
    padding-right: 10px;
    color: #7c88a7;
}
.message.user {
    align-items: center;
}
.thunbs {
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.timing.left-msg {
    padding-left: 10px;
    margin-left: 8px;
}
.where-did {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-left: auto;
    justify-content: space-between;
}
.where-did a {
    font-size: 15px;
    color: #146ef5;
}
.mesaage-box {
    margin-bottom: 0px;
}
.user.mesaage-box p {
    background: #ffffff21;
}
.message.bot p {
    background: #060f26;
}
.ai-input i {
    font-size: 29px;
}
.ai-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.ai-input .input-container {
    margin: 0px;
}

.main-chat .generate-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-chat .generate-button .bi-stars {
    color: white;
    font-size: 35px;
}

.main-chat .input-container textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none; /* Prevent manual resizing */
    overflow: auto; /* Hide scrollbars */
    max-height: 145px;
}

.main-chat .chat-send-button {
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}