
.main-chat .chatbot {
    height: 77vh;
}
.main-chat .chatbot {
    max-width: 100%;
}
.main-chat {
    height: calc(100vh - 167px);
    padding: 20px 0px;
}
.right-side h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding-bottom: 15px;
}
.guest span {
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.guest h2 {
    font-size: 18px;
    padding: 0px;
    border: 0px;
}
.guest p {
    font-size: 13px;
    line-height: 23px;
}
.right-side .row {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding-bottom: 20px;
}
.message-list .timing {
    font-size: 13px;
    margin-right: 8px;
    padding-right: 10px;
    color: #7c88a7;
}
.message.user {
    align-items: center;
}
.thunbs {
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.timing.left-msg {
    padding-left: 10px;
    margin-left: 8px;
}
.where-did {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-left: auto;
    justify-content: space-between;
}
.where-did a {
    font-size: 15px;
    color: #146ef5;
}
.mesaage-box {
    margin-bottom: 0px;
}
.user.mesaage-box p {
    background: #ffffff21;
}
.message.bot p {
    background: #060f26;
}
.ai-input i {
    font-size: 29px;
}
.ai-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.ai-input .input-container {
    margin: 0px;
}