.bar-chart-square {
    height: 20px;
    position: relative;
    width: 20px;
    }    .bar-chart-square .icon {
    height: 20px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 20px;
    }