.inbox-nav-bar button {
    background: transparent;
    color: #fff;
    border: 0px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
}
.inbox-nav-bar {
    padding: 5px 15px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.inbox-nav-bar button.nav-active {
    border-top: 3px solid #2A87E8;
}
.inbox-nav-bar a {
    font-size: 16px;
}