.action-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.action-heading h3 {
    font-size: 25px;
    color: #fff;
}
.action-select {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}
.action-select select {
  border: 1px solid #146ef5;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22none%22 stroke=%22%23ffffff%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22 stroke-width=%222%22 d=%22m2 5 6 6 6-6%22/%3E%3C/svg%3E");
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust position if needed */
}

.action-select select:focus {
  outline: 0;
  box-shadow: none;
}
.search-wrapper.searchWrapper, .multiinputfirst1 input, .search-multi1{
  border: 1px solid #146ef5;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  background: #212529;
}
.search-multi1 input{
    background-color: transparent;
    border:none;
}
.multiinputfirst1 input{
    color:#fff;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
    width:100%;
}
.multiinputfirst1, .search-multi1 {
  position: relative;
}
.pro-icon1 {
  position: absolute;
  top: 50%;
  color: #fff;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  padding-left:10px;
    padding-right:10px;
}
.action-select .item-select {
    width: 23%;
    
}
.multiselector1.item-select1{
    position: relative;
    width:23%;

}
.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
}
.search-option1 {
    position: absolute;
    top: 33px;
    left: 0;
    background: #212529;
    padding: 10px 10px;
    border-radius: 20px;
}

.search-option1 ul li {
    color: #fff;
    font-size: 14px;
    margin: 5px 0px;
    border: 1px solid #146EF5;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}


input#multi-search1 {
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
}

.action-items-page .table-responsive {
    min-height: 500px;
}

@media screen and (max-width:991px)
{
    .action-heading h3 {
        font-size: 20px;
        
    }
}
@media screen and (max-width:767px)
{
    .action-heading h3 {
        font-size: 18px;
        
    }
    .action-items {
       flex-wrap:wrap;
       
       }
       .action-select{
        justify-content: start;
        padding-top:20px;
        flex-wrap:wrap;

       }
}
@media screen and (max-width:575px)
{
    .action-select .item-select {
        width: 100%;
    }
    .search-option1, .multiselector1.item-select1 {
        
        width: 100%;
    }
}