* {
    margin: 0;
    padding: 0;
}

body {
    background: #000212;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #146EF5;
}

::-webkit-scrollbar-track {
    background: #020D29;
}

h1, h2, h3, h4, ul, p {
    padding: 0;
    margin: 0;
}

p, a {
    font-family: 'Samsung Sharp Sans Medium';
    font-size: 18px;
}

a {
    transition: .4s ease-in-out;
    text-decoration: none;
}

.heading h2 {
    color: #FFF;
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 13px;
}

.heading.heading-center h2 {
    text-align: center;
}

.heading h2 strong {
    font-weight: 700;
    color: #146EF5;
}

p {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
}

textarea { resize: none }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #fff }
input:-moz-placeholder, textarea:-moz-placeholder { color: #fff }
input::-moz-placeholder { opacity: 1; outline: none }
textarea::-moz-placeholder { opacity: 1; outline: none }
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #000212 inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important;
}

input[type="checkbox"] {
    background: #000212;
}

.link-btn {
    color: #146EF5;
    font-family: 'Samsung Sharp Sans Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 160px;
    border: 1px solid #146EF5;
    display: inline-block;
    padding: 13px 40px;
    background: transparent;
    transition: .4s ease-in-out;
}

.filled-btn {
    background: #146EF5;
    color: #fff;
}

.link-btn.filled-btn:hover {
    transition: .4s ease-in-out;
    background: transparent;
    color: #146EF5;
}

.link-btn.outline-btn:hover {
    transition: .4s ease-in-out;
    background: #146EF5;
    color: #fff;
}

.banner-heading {
    max-width: 753px;
    margin: 0 auto 45px;
    text-align: center;
}

.banner-heading h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 16px;
}

.banner-heading p {
    color: #FFF;
    text-align: center;
    font-family: 'Samsung Sharp Sans Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner-heading a {
    margin-top: 35px;
}

.thankerror {
    padding: 190px 0 120px;
    text-align: center;
}

.thankerror p {
    color: #FFF;
    text-align: center;
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 32px 0;
}

.thankerror a {
    width: 100%;
    max-width: 380px;
}

@media only screen and (max-width: 1199px) {
    a, .link-btn {
        font-size: 15px;
    }

    .banner-heading h2 {
        font-size: 36px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .heading h2 {
        font-size: 36px;
        line-height: 45px;
    }

    .banner-heading {
        margin-bottom: 25px;
    }

    .banner-heading h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .heading h2 {
        font-size: 27px;
        line-height: 42px;
    }

    p {
        font-size: 16px;
    }

    .link-btn {
        padding: 10px 30px;
    }

    .banner-heading h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .banner-heading p  {
        font-family: 'Samsung Sharp Sans Regular';
    }

    .banner-heading a {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .heading h2 {
        font-size: 22px;
        line-height: 30px;
    }
}

@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    src: local('Samsung Sharp Sans Regular'), url('../public/samsungsharpsans.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Samsung Sharp Sans Medium'), url('../public/samsungsharpsans-medium.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Samsung Sharp Sans Bold'), url('../public/samsungsharpsans-bold.woff') format('woff');
}