.right-side {
    padding: 20px 0px;
    height: calc(100vh - 209px);
    overflow-y: scroll;
}
.bordr-cl h2 {
    border: 0px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px 12px;
}
.bordr-cl {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.issue , .satisfy , .about-inner{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 12px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.issue h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.issue p {
    font-size: 13px;
    line-height: 23px;
}
.issue span {
    display: inline-block;
    margin-top: 20px;
    background: #212529;
    padding: 10px 20px;
    border: 1px solid #146ef5;
    border-radius: 28px;
    color: #146ef5;
    font-size: 15px;
    font-weight: 600;
}
.satisfy h2 {
    border: 0px;
    padding: 0px;
}
.satisfy p.result {
    color: green;
    font-size: 18px;
    font-weight: 600;
}
.satisfy {
    border-bottom: 0px;
}
.about {
    padding-top: 20px;
    border-top: 5px solid rgb(255 255 255 / 10%);
}
.about-inner h2 {
    border: 0px;
}
.user-detail p {
    font-size: 15px;
    margin-bottom: 10px;
}

/* ==============responsive part start============== */
@media (max-width: 1599.98px) { 
.right-side h2 , .issue h3{
    font-size: 18px;
   
}
.right-side  .guest h2 {
    font-size: 15px;
  
}
}
